<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="INFOTECH DEPARTMENT"
        android:supportsRtl="true"
        android:theme="@style/Theme.Admin"
        tools:targetApi="31">
        <activity
            android:name=".SocialMediaActivity"
            android:exported="false" />
        <activity
            android:name=".FacultyStaffActivity"
            android:exported="false" />
        <activity
            android:name=".EmailFabActivity"
            android:exported="false" />
        <activity
            android:name=".CourseActivity"
            android:exported="false" />
        <activity
            android:name=".AdmissionsActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>